*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #023047;
    color:white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html{
    scroll-behavior: smooth;
}

.body{
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 35px;
    color: #ffb703;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #023047;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.logo:hover{
    color: #fb8500;
}

.navbar a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 35px;
    font-weight: bold;
    transition: 0.5s;
    color: #ffb703;
}

.navbar a:hover{
    color: #fb8500;
    font-size: 30px;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
}

.home-content{
    max-width: 600px;

}

.home-content h1{
    position: relative;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #023047;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #ffb703;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #023047;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}

.home-content p {
    position: relative;
    font-size: 20px;
    text-align: left;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #023047;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    width: 345px;
    height: 50px;
    justify-content: space-between;
    display: flex;
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #023047;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
    z-index: 2;
}

.btn-box a{
    position: relative;
    width: 150px;
    height: 100%;
    background: #ffb703;
    border: 2px solid #ffb703;
    border-radius: 8px;
    font-size: 19px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    transition: .5s;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: white;
}

.btn-box a:hover{
    width: 100%;
}

.btn-box .bx{
    background-color: #ffb703;
    font-size: 20px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    font-weight: bold;
}

.home-social{
    position: absolute;
    bottom: 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;    
}

.home-social::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #023047;
    animation: showRight 1s ease forwards;
    animation-delay: 2.2s;
    z-index: 2;
}

.home-social a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffb703;
    border-radius: 50%;
    font-size: 20px;
    color: #ffb703;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-social a:hover{
    color: #ffb703;
}

.home-social a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffb703;
    z-index: -1;
    transition: .5s;
}

.home-social a:hover::before{
    width: 100%;
}

.home-image {
    width: 450px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    clip-path: circle();
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    opacity: 0;
    animation: fadeIn 5s ease-in-out forwards;
}

.home-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}



#textCycle {
    transition: opacity 0.5s ease;
    opacity: 1;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showRight{
    100%{
        width: 0;
    }
}


/* About Me*/

.background{
    min-height: 90vh;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    margin-top: 150px;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 40px; 
    padding: 20px; 
}

.image-container {
    flex-shrink: 0; 
}

.profile {
    width: 350px; 
    border-radius: 10%;
    animation: fadeIn 2s ease-in-out forwards;
}

.biblography {
    max-width: 800px; 
    text-align: left; 
}

.biblography h1{
    font-size: 35px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    position: relative;
    color: #ffb703;
}

.biblography h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #023047;
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}

.biblography p{
    position: relative;
    font-size: 20px;
    text-align: justify;
}

.biblography p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #023047;
    animation: showRight 1s ease forwards;
    animation-delay: 1.0s;
}

/*skills section*/

.skills{
    min-height: 100vh;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}

.skills h1{
    text-align: center;
    color: #ffb703;
    font-size: 40px;
    font-weight: bolder;
}

.rowcards .column {
    float: left;
    width: 25%;
    margin: 20px;
    position: relative; 
    box-shadow: 4px 4px 4px 4px #000000;
    padding: 10px;
    text-align: center;
    align-items: center;
    
}

.rowcards {
    margin: 0px -5px;
    display: flex;
}
  
.rowcards:after {
    content: "";
    display: table;
    clear: both;
}

.rowcards h3{
    color:#fb8500;
    font-size: 25px;
}

.rowcards p{
    font-size: 20px;
}

.rowcards .column:nth-child(2){
    transition-delay: 200ms;
}

.rowcards .column:nth-child(3){
    transition-delay: 400ms;
}

.rowcards .column:nth-child(4){
    transition-delay: 600ms;
}




/*Education Section */
.EducationSoftSills{
    height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
}

.EducationSoftSills .column {
    padding: 20px;
    float: left;
    box-sizing: border-box;
}
  
.EducationSoftSills.row:after {
    content: "";
    display: table;
    clear: both;
}

.EducationSoftSills p{
    padding: 5px;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
}

.EducationSoftSills h2{
    font-size: 30px;
    font-weight: bolder;
    color: #ffb703;
}

.row .column:nth-child(1){
    transition-delay: 200ms;
}

.row .column:nth-child(2){
    transition-delay: 400ms;
}




/*Projects page */
.projects{             
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    padding: 20px;
    gap: 50px; 
    box-sizing: border-box;
}

.card {   /*card div tag */
    box-shadow: 10px 4px 8px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin-top: 200px;
    text-align: center;
    font-family: arial;
}

.card h1{
    color: #ffb703;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}
  
.projectType {
    color: white;
    font-size: 20px;
}

.card p{
    padding: 15px;
}

.card a {
    border: none;
    outline: 0;
    color: white;
    background: transparent;
    border: 2px solid #ffb703;
    border-radius: 0px;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    float: left;
    text-decoration: none;
    font-weight: bolder;
    z-index: 1;
    overflow: hidden;
    position: relative;
    transition: .5s;
    padding: 10px;
}

.card a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffb703;
    z-index: -1;
    transition: .5s;
}
  
.card a:hover {
    color: white;
}

.card a:hover::before{
    width: 100%;
}

.projects .card :nth-child(1){
    transition-delay: 200ms;
}

.projects .card :nth-child(2){
    transition-delay: 400ms;
}

.projects .card :nth-child(3){
    transition-delay: 600ms;
}

.projects .card :nth-child(4){
    transition-delay: 800ms;
}

.projects .card :nth-child(5){
    transition-delay: 1000ms;
}



/*Contact Me Page*/

.Contact{
 
}

.Form-Wrapper{
    margin-top: 150px;
    padding: 50px;
}

.Form-Wrapper .column{
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
    place-items: center;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.Form-Wrapper::after{
    content: "";
    display: table;
    clear: both;
}


form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    color: #ffb703;
    font-weight: bold;
}


form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #fb8500;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
    color: white;
    box-sizing: border-box;
}


form input::placeholder, form textarea::placeholder {
    color: white;
}


form input:focus, form textarea:focus {
    border-color: #ffb703;
    outline: none;
}


form textarea {
    height: 150px;
    resize: none;
}

form button {
    width: 100%;
    padding: 15px;
    background-color: #ffb703;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #fb8500;
}


.contactInfo h3{
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #ffb703;
    font-weight: bold;
}

.contactInfo h2 {
    font-size: 24px;
    margin-bottom: 50px; /
}

.contactInfo p {
    font-size: 20px; 
    margin: 5px 0; 
}

.contactInfo a {
    text-decoration: none;
}

.contactInfo a:hover {
    text-decoration: underline;
}




/*Scrolling Animations */
.fade-in {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.slide-up {
    opacity: 0;
    transform: scale(0.5);
    transition: all 2s;
}

.slide-up.show {
    opacity: 1;
    transform: rotateY(0);
}


/*Responsive Website */
@media (max-width: 600px) {
    .home {
        padding: 20px 5%;
    }

    .header{
        display: flex;
        justify-content: flex-start;
    }

    .logo{
        font-size: 20px;
        margin-left: -10px;
        text-align: left;
        margin-right: auto;
    }
    

    .home-content {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .home-image {
        max-width: 100%;        
    }

    .home-content h1{
        font-size: 20px;
    }

    .home-content h3{
        font-size: 20px;
    }

    .home-content p {
        font-size: 16px;
        text-align: center;
    }

    .home-content .btn-box{
        justify-content: center;
        gap: 10px;
    }

    .navbar a{
        font-size: smaller;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }
}


@media (max-width: 768px){

    .home {
        padding: 20px 5%;
    }

    .header{
        display: flex;
        justify-content: flex-start;
    }

    .logo{
        font-size: 20px;
        margin-left: -10px;
        text-align: left;
        margin-right: auto;
    }
    

    .home-content {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .home-image {
        max-width: 100%;        
    }

    .home-content h1{
        font-size: 20px;
    }

    .home-content h3{
        font-size: 20px;
    }

    .home-content p {
        font-size: 16px;
        text-align: center;
    }

    .home-content .btn-box{
        justify-content: center;
        gap: 10px;
    }

    .navbar a{
        font-size: smaller;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

}

@media (max-width: 1024px){

    .home-image{
        width: 200%;
        height: auto;
        clip-path: circle();
        margin-left: 100px;
    }
}